<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="torrent" value="C:\Users\mayur.shingote\AppData\Roaming\uTorrent\uTorrent.exe"/>
    <add key="tr" value="C:\Users\mayur.shingote\AppData\Roaming\uTorrent\uTorrent.exe"/>
  </appSettings>
</configuration>